name: task_stalled

on:
  push:
    branches: [ master ]
    paths:
      - '.github/workflows/task_stalled.yml'
# schedule:
#   - cron: '0 0 * * 0'
  workflow_dispatch:

jobs:
  build:
    permissions:
      pull-requests: write
      issues: write
    runs-on: ubuntu-latest
    if: github.repository == 'freetz-ng/freetz-ng'

    steps:

      - name: stalled
        uses: actions/stale@v10
        env:
          # global
          STALE_LABEL:             'stalled'
          EXEMPT_LABEL:            'task'
          # pr
          DAYS_BEFORE_PR_STALE:    '7'
          DAYS_BEFORE_PR_CLOSE:    '7'
          # issue
          DAYS_BEFORE_ISSUE_STALE: '7'
          DAYS_BEFORE_ISSUE_CLOSE: '7'
        with:
          # global
          enable-statistics: true
          labels-to-remove-when-unstale: ${{ env.STALE_LABEL }}
          # pr
          stale-pr-message:        'This PR has been open for ${{ env.DAYS_BEFORE_PR_STALE }} days with no activity. Please comment or update this PR or it will be closed in ${{ env.DAYS_BEFORE_PR_CLOSE }} days.'
          close-pr-message:        'This PR was closed because it has been inactive for ${{ env.DAYS_BEFORE_PR_CLOSE }} days since being marked as ${{ env.STALE_LABEL }}.'
          days-before-pr-close:    ${{ env.DAYS_BEFORE_PR_CLOSE }}
          days-before-pr-stale:    ${{ env.DAYS_BEFORE_PR_STALE }}
          stale-pr-label:          ${{ env.STALE_LABEL }}
          exempt-pr-labels:        ${{ env.EXEMPT_LABEL }}
          remove-pr-stale-when-updated: true
          # issue
          stale-issue-message:     'This issue has been open for ${{ env.DAYS_BEFORE_ISSUE_STALE }} days with no activity. Please comment or update this issue or it will be closed in ${{ env.DAYS_BEFORE_ISSUE_CLOSE }} days.'
          close-issue-message:     'This issue was closed because it has been inactive for ${{ env.DAYS_BEFORE_ISSUE_CLOSE }} days since being marked as ${{ env.STALE_LABEL }}.'
          days-before-issue-close: ${{ env.DAYS_BEFORE_ISSUE_CLOSE }}
          days-before-issue-stale: ${{ env.DAYS_BEFORE_ISSUE_STALE }}
          stale-issue-label:       ${{ env.STALE_LABEL }}
          exempt-issue-labels:     ${{ env.EXEMPT_LABEL }}
          remove-issue-stale-when-updated: true
